footer{
    margin-top: 15px;
    width: 100vw;
    height: 8vh;
    position: relative;
    bottom: 0;
    background-color: #ff8000;
}
.copyright{
    padding-top: 15px;
    padding-left: 20px;
    color: #5100ff;
    font-family: sans-serif;
    font-weight: bold;
}