nav{
    background-color: #2f6cff;
    width: 100vw;
    height: 17vh;
    overflow: hidden;
}
.title{
    color: #fbfbfb;
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
    text-shadow: 1px 1px 1px #000, 1px 1px 8px #000;
    font-family: sans-serif;

}
.div_options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.links{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
}