*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #fff;
}
.nuvem{
    margin-top: 50px;
    margin-left: 120px;
    width: 200px;
    position: absolute;
    user-select: none;
}
.nuvem-animation{
    animation: nuvem 15s infinite linear;
}
.game-board{
    border-radius: 20px;
    width: 100vw;
    height: 650px;
    border-bottom: 5px solid #181818;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#8b8b8b, #ffffff);
}
.cacto{
    position: absolute;
    bottom: 0;
    width: 70px;
    right: -80px;
    user-select: none;
}
.cacto-animation{
    animation: cacto-animation 3s infinite linear;
}
.personagem-run{
    position: absolute;
    width: 100px;
    height: 150px;
    left: 100px;
    bottom: -30px;
    user-select: none;
    border-radius: 100px 100px 200px 300px;
}
.jump{
    animation: personagem-jump 1s linear;
}
.score2{
    font-size: 20px;
    font-family: sans-serif;
    color: #fff;
    text-shadow: 1px 1px 1px #000, 1px 1px 8px #000;
    display: inline-block;
    position: absolute;
    right: 0;
    margin: 15px;
    margin-right: 50px;
    padding: 10px;
    user-select: none;
}
.score{
    font-size: 30px;
    font-family: sans-serif;
    color: #fff;
    text-shadow: 1px 1px 1px #000, 1px 1px 8px #000;
    display: inline-block;
    position: absolute;
    right: 0;
    margin: 10px;
    margin-right: 20px;
    padding: 10px;
    user-select: none;
}
.restart{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 220px;
}
.restart-button, .game-over{
    margin: auto;
    width: 150px;
    height: 50px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}
.start{
    position: absolute;
    top: 50%;
    left: 45%;
}
.start-button{
    margin: auto;
    width: 150px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.start-active{
    display: none;
}
@keyframes nuvem{
    0%{
        right: -400px;
    }100%{
        right: 110vw;
    }
}
@keyframes personagem-jump{
    0%{
        bottom: -30px;
    }40%{
        bottom: 90px;
    }75%{
        bottom: 120px;
    }85%{
        bottom: 100px;
    }100%{
        bottom: -30px;
    }
}
@keyframes cacto-animation{
    0%{
        right: -80px;
    }100%{
        right: 115vw;
    }
}